.controller.xbox {
    background: url(progray.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.disconnected {
    background: url(xbox-assets/disconnected.svgz);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 320px;
    height: 10px;
    position: absolute;
    top: 56px;
    left: 152px;
}

.xbox .trigger {
    width: 88px;
    height: 33px;
    background: url(trigger.png);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    position: absolute;
    width: 86px;
    height: 33px;
    top: 0px;
    left: 119px;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 159px;
    height: 54px;
    background: url(bumper.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 536px;
    height: 100px;
    left: 105px;
    top: 86px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
    position: absolute;
    width: 160px;
    height: 54px;
    left: 5px;
    top: 0px;
}

.xbox .bumper.right {
    float: right;
    position: absolute;
    width: 160px;
    height: 54px;
    left: 372px;
    top: -1px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url(xbox-assets/quadrant.svgz);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 350px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(startselect.png);
    width: 30px;
    height: 28px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
    position: absolute;
    width: 28px;
    height: 28px;
    top: -104px;
    left: -31px;
}

.xbox .start {
    background-position: 30px -0px;
    float: right;
    position: absolute;
    top: -104px;
    left: 135px;
}

.xbox .abxy {
    position: absolute;
    width: 156px;
    height: 156px;
    top: 140px;
    left: 477px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -50px;
    margin-top: 1px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 103px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: 97px 0;
    top: 57px;
    left: 1px;
}

.xbox .y {
    background-position: 48px 0;
    left: 54px;
    top: 11px;
}

.xbox .sticks {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 171px;
    left: 136px;
}

.xbox .stick {
    position: absolute;
    background: url(stick.png);
    background-position: -105px 0;
    height: 106px;
    width: 106px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 95px;
    left: 276px;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 266px;
    left: 214px;
}